.card-container {
  display: flex;
  flex-direction: column;
  width: 23.4375%;
  margin: 0 0.78125% 50px; 
  font-family: $primary-font;

  .img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    background-color: $gray-100;
    padding: 0.5rem;

    img {
      aspect-ratio: 1 / 1;
      width: 100%;
    }

  }

  .card-info {
    padding-left: 1rem;
    margin-top: 0.25rem;

    p {
      font-size: 0.75rem;
      font-family: $secondary-font;
      font-weight: 600;
      color: $gray-400;
    }

    h5 {
      font-size: 1.45rem;
      font-family: $secondary-font;
      font-weight: 400;
      color: $gray-800;
      margin-top: 1rem;
    }
  }

  .type-wrapper {
    display: flex;
    padding-left: 1rem;
    gap: 0.375rem;

    .type-pill {
      background-color: $blue;
      font-size: 0.6875rem;
      width: 38.4375%;
      line-height: 1.125rem;
      text-align: center;
      border-radius: 3px;
      margin-top: 0.25rem;
    }

    .bug-type { @include type-color($bug-color); color: $white;  }
    .dragon-type { @include type-color($dragon-color); color: $white; }
    .fairy-type { @include type-color($fairy-color); color: $black; }
    .fire-type { @include type-color($fire-color); color: $white; }
    .ghost-type { @include type-color($ghost-color); color: $white; }
    .ground-type { @include type-color($ground-color); color: $black; }
    .normal-type { @include type-color($normal-color); color: $black; }
    .psychic-type { @include type-color($psychic-color); color: $white; }
    .steel-type { @include type-color($steel-color); color: $black; }
    .dark-type { @include type-color($dark-color); color: $white; }
    .electric-type { @include type-color($electric-color); color: $black; }
    .fighting-type { @include type-color($fighting-color); color: $white; }
    .flying-type { @include type-color($flying-color); color: $black; }
    .grass-type { @include type-color($grass-color); color: $black; }
    .ice-type { @include type-color($ice-color); color: $black; }
    .poison-type { @include type-color($poison-color); color: $white; }
    .rock-type { @include type-color($rock-color); color: $white; }
    .water-type { @include type-color($grass-color); color: $white; }

  }
}