.app-body {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background: url('../assets/body_bg.png');

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80rem;
    height: 100%;
    max-width: 100%;
    background: #fff url('../assets/container_bg.png');
    // padding: 0 4rem;

    header {
      display: flex;
      justify-content: center;
      width: 100%;
      background-color: $gray-800;
      padding: 0 4rem;
      color: $white;

      .header-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.75rem;
        width: 100%;
        max-width: 56.5625rem;
        padding: 1.5rem 1.25rem;

        .header-primary {
          display: flex;
          flex-direction: column;

          label {
            font-family: $primary-font;
            font-size: 1.4375rem;
          }

          .input-wrapper {
            display: flex;
            margin-top: 0.5rem;

            input {
              padding: 0.56rem;
              border: 3px solid $gray-600;
              border-radius: 4px;
              width: 19rem;
              font-family: "Roboto", arial, sans-serif;
              font-size: 1rem;
              color: $gray-800;
            }

            button {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 3.125rem;
              height: 100%;
              margin-left: 1.25rem;
              background-color: $orange-500; 
              border-radius: 4px;
              border: 0;

              img {
                width: 1.25rem;
                height: 1.25rem;
              }
            }
          }

          span {
            font-family: "Roboto", arial, sans-serif;
            margin-top: 0.5rem;
            font-size: 0.9375rem;

          }
        }

        .header-secondary {
          .green-tip {
            background-color: $green;
            font-family: $primary-font;
            font-weight: 600;
            font-size: 1.1875rem;
            border-radius: 4px;
            padding: 1rem 1rem 1.375rem;
          }
        }
      }
    }

    .advanced-search-container {
      position: relative;
      width: 100%;
      min-height: 4rem;
      background-color: $gray-600;

      .advanced-search-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: -1rem;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 28rem;
        padding: 0.5rem;
        background-color: $gray-600;
        font-family: $primary-font;
        font-weight: 600;
        font-size: 0.9375rem;
        color: $white;

        :nth-child(2) {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          width: 1.25rem;
          height: 1.25rem;
          border-radius: 50%;
          background-color: $white;
          color: $gray-800;
          font-size: 1.25rem;
          transform: rotate(90deg);
          margin-left: 1rem;
        }

        &:before {
          content: "";
          position: absolute;
          left: -38px;
          bottom: 0;
          background: transparent url('../assets/large-notch-darkgray.png');
          width: 38px;
          height: 18px;
          transform: scaleY(-1);
        }

        &:after {
          content: "";
          position: absolute;
          right: -38px;
          bottom: 0;
          background: transparent url('../assets/large-notch-darkgray.png');
          width: 38px;
          height: 18px;
          transform: scaleY(-1) scaleX(-1);
        }
      }
    }

    .body-content {
      width: fit-content;
      padding: 0 4rem;

      .main-content {
        width: 100%;
        max-width: 56.5625rem;
        height: 100%;
        background-color: $white;
        padding: 3rem 1rem;
        // margin: 0 4rem;
  
        .search-result {
          display: flex;
          flex-wrap: wrap;
        }
      }
    }
  }
}