@font-face {
  font-family: "Flexo-Regular";
  src: url("../assets/fonts/Flexo-Regular.ttf");
}
@font-face {
  font-family: "Flexo-Demi";
  src: url("../assets/fonts/Flexo-Demi.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.card-container {
  display: flex;
  flex-direction: column;
  width: 23.4375%;
  margin: 0 0.78125% 50px;
  font-family: "Flexo-Regular", sans-serif;
}
.card-container .img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #f2f2f2;
  padding: 0.5rem;
}
.card-container .img-wrapper img {
  aspect-ratio: 1/1;
  width: 100%;
}
.card-container .img-wrapper #loader-img {
  display: none;
}
.card-container .card-info {
  padding-left: 1rem;
  margin-top: 0.25rem;
}
.card-container .card-info p {
  font-size: 0.75rem;
  font-family: "Flexo-Demi", sans-serif;
  font-weight: 600;
  color: #919191;
}
.card-container .card-info h5 {
  font-size: 1.45rem;
  font-family: "Flexo-Demi", sans-serif;
  font-weight: 400;
  color: #313131;
  margin-top: 1rem;
}
.card-container .type-wrapper {
  display: flex;
  padding-left: 1rem;
  gap: 0.375rem;
}
.card-container .type-wrapper .type-pill {
  background-color: #30a7d7;
  font-size: 0.6875rem;
  width: 38.4375%;
  line-height: 1.125rem;
  text-align: center;
  border-radius: 3px;
  margin-top: 0.25rem;
  font-family: "Flexo-Demi", sans-serif;
}
.card-container .type-wrapper .bug-type {
  background: #729f3f;
  color: #f2f2f2;
}
.card-container .type-wrapper .dragon-type {
  background: linear-gradient(0deg, #f16e57 44%, #53a4cf 56%);
  color: #f2f2f2;
}
.card-container .type-wrapper .fairy-type {
  background: #fdb9e9;
  color: #313131;
}
.card-container .type-wrapper .fire-type {
  background: #fd7d24;
  color: #f2f2f2;
}
.card-container .type-wrapper .ghost-type {
  background: #7B62A3;
  color: #f2f2f2;
}
.card-container .type-wrapper .ground-type {
  background: linear-gradient(0deg, #ab9842 44%, #f7de3f 56%);
  color: #313131;
}
.card-container .type-wrapper .normal-type {
  background: #a4acaf;
  color: #313131;
}
.card-container .type-wrapper .psychic-type {
  background: #f366b9;
  color: #f2f2f2;
}
.card-container .type-wrapper .steel-type {
  background: #9eb7b8;
  color: #313131;
}
.card-container .type-wrapper .dark-type {
  background: #707070;
  color: #f2f2f2;
}
.card-container .type-wrapper .electric-type {
  background: #eed535;
  color: #313131;
}
.card-container .type-wrapper .fighting-type {
  background: #d87234;
  color: #f2f2f2;
}
.card-container .type-wrapper .flying-type {
  background: linear-gradient(0deg, #bdb9b8 44%, #3dc7ef 56%);
  color: #313131;
}
.card-container .type-wrapper .grass-type {
  background: #9bcc50;
  color: #313131;
}
.card-container .type-wrapper .ice-type {
  background: #51c4e7;
  color: #313131;
}
.card-container .type-wrapper .poison-type {
  background: #b97fc9;
  color: #f2f2f2;
}
.card-container .type-wrapper .rock-type {
  background: #a38c21;
  color: #f2f2f2;
}
.card-container .type-wrapper .water-type {
  background: #9bcc50;
  color: #f2f2f2;
}
@media only screen and (max-width: 1024px) {
  .card-container {
    width: 31.4375%;
  }
}
@media only screen and (max-width: 768px) {
  .card-container {
    width: 48.4375%;
  }
}
@media only screen and (max-width: 510px) {
  .card-container {
    width: 100%;
  }
}

.app-body {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  background: url("../assets/body_bg.png");
}
.app-body main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80rem;
  height: 100%;
  max-width: 100%;
  background: #fff url("../assets/container_bg.png");
}
.app-body main header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #313131;
  padding: 0 4rem;
  color: #ffffff;
}
.app-body main header .header-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 100%;
  max-width: 56.5625rem;
  padding: 1.875rem 1rem;
}
.app-body main header .header-content .header-primary {
  display: flex;
  flex-direction: column;
}
.app-body main header .header-content .header-primary label {
  font-family: "Flexo-Regular", sans-serif;
  font-size: 1.675rem;
}
.app-body main header .header-content .header-primary .input-wrapper {
  display: flex;
  margin-top: 0.75rem;
}
.app-body main header .header-content .header-primary .input-wrapper input {
  padding: 0.56rem;
  border: 3px solid #616161;
  border-radius: 4px;
  width: 19.75rem;
  height: 3rem;
  font-family: "Roboto", arial, sans-serif;
  font-size: 1rem;
  color: #313131;
}
.app-body main header .header-content .header-primary .input-wrapper button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 100%;
  margin-left: 1.25rem;
  background-color: #ee6b2f;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  transition: background-color 0.1s;
}
.app-body main header .header-content .header-primary .input-wrapper button:hover {
  background-color: #da471b;
  transition: background-color 0.3s;
}
.app-body main header .header-content .header-primary .input-wrapper button img {
  width: 1.25rem;
  height: 1.25rem;
}
.app-body main header .header-content .header-primary span {
  font-family: "Roboto", arial, sans-serif;
  margin-top: 0.5rem;
  font-size: 0.99rem;
}
.app-body main header .header-content .header-secondary .green-tip {
  background-color: #4DAD5B;
  font-family: "Flexo-Regular", sans-serif;
  font-weight: 600;
  font-size: 1.1875rem;
  border-radius: 4px;
  padding: 1rem 1rem 1.375rem;
}
.app-body main .advanced-search-container {
  position: relative;
  width: 100%;
  min-height: 3.5rem;
  background-color: #616161;
}
.app-body main .advanced-search-container .advanced-search-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 26.8125rem;
  padding: 0.5rem;
  background-color: #616161;
  font-family: "Flexo-Regular", sans-serif;
  font-weight: 600;
  font-size: 0.9675rem;
  color: #ffffff;
  cursor: pointer;
}
.app-body main .advanced-search-container .advanced-search-wrapper :nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  background-color: #ffffff;
  color: #313131;
  font-size: 1.25rem;
  transform: rotate(90deg);
  margin-left: 1rem;
}
.app-body main .advanced-search-container .advanced-search-wrapper:before {
  content: "";
  position: absolute;
  left: -37px;
  bottom: 0;
  background: transparent url("../assets/large-notch-darkgray.png");
  width: 38px;
  height: 18px;
  transform: scaleY(-1);
}
.app-body main .advanced-search-container .advanced-search-wrapper:after {
  content: "";
  position: absolute;
  right: -37px;
  bottom: 0;
  background: transparent url("../assets/large-notch-darkgray.png");
  width: 38px;
  height: 18px;
  transform: scaleY(-1) scaleX(-1);
}
.app-body main .body-content {
  width: 100%;
  padding: 0 4rem;
}
.app-body main .body-content .main-content {
  width: 100%;
  max-width: 56.5625rem;
  height: 100%;
  background-color: #ffffff;
  padding: 3rem 1rem;
  margin: 0 auto;
}
.app-body main .body-content .main-content .buttons-wrapper {
  display: flex;
  justify-content: space-between;
  font-family: "Flexo-Regular", sans-serif;
  padding: 0 0.29rem;
}
.app-body main .body-content .main-content .buttons-wrapper #surprise-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 21.625rem;
  height: 3rem;
  border: 0;
  border-radius: 4px;
  background-color: #30a7d7;
  color: #ffffff;
  font-family: "Flexo-Demi", sans-serif;
  font-size: 1.05rem;
  margin-left: 1rem;
  cursor: pointer;
}
.app-body main .body-content .main-content .buttons-wrapper #surprise-button img {
  width: 1.5rem;
}
.app-body main .body-content .main-content .buttons-wrapper #surprise-button span {
  margin-left: 0.5rem;
}
.app-body main .body-content .main-content .buttons-wrapper .sort-wrapper {
  display: flex;
  align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.app-body main .body-content .main-content .buttons-wrapper .sort-wrapper span {
  font-family: "Flexo-Regular", sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  color: #a4a4a4;
}
.app-body main .body-content .main-content .buttons-wrapper .sort-wrapper .dropdown-wrapper {
  position: relative;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.app-body main .body-content .main-content .buttons-wrapper .sort-wrapper .dropdown-wrapper img {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
  width: 1.25rem;
  z-index: 1000;
}
.app-body main .body-content .main-content .buttons-wrapper .sort-wrapper .dropdown-wrapper .sort-root {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.app-body main .body-content .main-content .buttons-wrapper .sort-wrapper .dropdown-wrapper .sort-root .sort-control {
  display: flex;
  align-items: center;
  height: 2.375rem;
  width: 15.625rem;
  margin-left: 1rem;
  border: 0;
  background-color: #313131;
  border-radius: 4px;
  color: #ffffff;
  padding-left: 3rem;
  padding-right: 1.5rem;
  cursor: pointer;
}
.app-body main .body-content .main-content .buttons-wrapper .sort-wrapper .dropdown-wrapper .sort-root .sort-menu {
  background-color: #616161;
  width: 15.625rem;
  left: 1rem;
  border: 0;
}
.app-body main .body-content .main-content .buttons-wrapper .sort-wrapper .dropdown-wrapper .sort-root .sort-menu .is-selected {
  background-color: #616161;
}
.app-body main .body-content .main-content .buttons-wrapper .sort-wrapper .dropdown-wrapper .sort-root .sort-menu .Dropdown-option {
  color: #ffffff;
}
.app-body main .body-content .main-content .buttons-wrapper .sort-wrapper .dropdown-wrapper .sort-root .sort-menu .Dropdown-option:hover {
  background-color: #313131;
}
.app-body main .body-content .main-content .buttons-wrapper .sort-wrapper .dropdown-wrapper .sort-root .sort-menu .Dropdown-option:selected {
  background-color: #313131;
}
.app-body main .body-content .main-content .search-result {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
}
@media only screen and (max-width: 960px) {
  .app-body main header {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0 2rem;
  }
  .app-body main header .header-content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 1.875rem 2.5rem;
  }
  .app-body main header .header-content .header-primary {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 85.49vw;
    justify-self: center;
  }
  .app-body main header .header-content .header-primary .input-wrapper {
    height: 3rem;
  }
  .app-body main .advanced-search-container .advanced-search-wrapper {
    max-width: 70vw;
  }
  .app-body main .body-content {
    padding: 0 2.5rem;
  }
  .app-body main .body-content .main-content .buttons-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .app-body main .body-content .main-content .buttons-wrapper #surprise-button {
    width: 70vw;
    max-width: none;
    margin-left: 0;
  }
  .app-body main .body-content .main-content .buttons-wrapper .sort-wrapper {
    flex-direction: column;
    align-items: flex-start;
    width: 70vw;
    margin-top: 1rem;
  }
  .app-body main .body-content .main-content .buttons-wrapper .sort-wrapper .dropdown-wrapper img {
    left: 1rem;
  }
  .app-body main .body-content .main-content .buttons-wrapper .sort-wrapper .dropdown-wrapper .sort-root {
    margin-top: 0.25rem;
  }
  .app-body main .body-content .main-content .buttons-wrapper .sort-wrapper .dropdown-wrapper .sort-root .sort-control {
    margin-left: 0;
    width: 70vw;
  }
}
@media only screen and (max-width: 768px) {
  .app-body main header {
    padding: 0;
  }
  .app-body main .advanced-search-container .advanced-search-wrapper {
    max-width: 70vw;
  }
  .app-body main .body-content {
    padding: 0 1.5rem;
  }
}
@media only screen and (max-width: 510px) {
  .app-body main header .header-content {
    padding: 1.875rem 1.5rem;
  }
  .app-body main .advanced-search-container .advanced-search-wrapper {
    max-width: 70vw;
  }
  .app-body main .body-content {
    padding: 0 1rem;
  }
}
@media only screen and (max-width: 460px) {
  .app-body main .body-content {
    padding: 0;
  }
  .app-body main .body-content .search-result {
    padding: 0 0.5rem;
  }
}/*# sourceMappingURL=App.css.map */