// Color Palette
$white: #ffffff;
$gray-100: #f2f2f2;
$gray-600: #616161;
$gray-800: #313131;
$blue: #30a7d7;
$orange-500: #ee6b2f;
$orange-700: #da471b;
$green: #4DAD5B;

// Fonts
@font-face {
  font-family: "Flexo-Regular";
  src: url("../assets/fonts/Flexo-Regular.ttf");
}
@font-face {
  font-family: "Flexo-Demi";
  src: url("../assets/fonts/Flexo-Demi.ttf");
}

$primary-font: "Flexo-Regular", sans-serif;
$secondary-font: "Flexo-Demi", sans-serif;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



@import '../components/Card/Card';
@import './Home';